body{
    background-image: url("https://th.bing.com/th/id/OIP.ydSIweic5iB1--BvCpXVoAHaEK?w=310&h=180&c=7&r=0&o=5&pid=1.7");
    background-size: cover;
    background-position: center;

}

.box{
    padding: 150px  200px  200px 200px;
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
